/***********************
****    GENERAL    *****
***********************/

*{
    box-sizing:border-box;
}

html { font-size: 62.5%; }


body{
    background-color:#fdfcfc;
    font-size:1.6rem;
    color:#444;
    margin:0;
    padding:0;
    font-family: 'Abhaya Libre', serif;
}


/*****************************
****    CORPS DE PAGE    *****
*****************************/

/* HEADER */
.topnav{
    background-color:#f8e2ce;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
}

.topnav a {
    color: #40739e;
    font-size:20px;
    text-decoration:none;
}
.topnav ul{

    width:100%;
    display:flex;
    flex-direction: row-reverse;

}
.topnav ul li {

    list-style-type: none;
    margin-left:3em;
    margin-right:1rem;

}

header{

    margin-top:3rem;
    margin-bottom:4rem;
    padding-top:2rem;
    height:100px;
    background-color:#8eb4c8;
    display:flex;
    align-items:center;

}

header h1{

    margin:auto;
    font-family: 'Alex Brush', cursive;
    color:#f8e2ce;
    font-weight:normal;
    font-size:50px;
}

/* MAIN */

/*Grid sur la page index*/
img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.image-container{
    width:90vw;
    height:100vh;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(11,1fr);
    grid-gap:0.7em;
    margin:0 auto;
    display:grid;
}

.img1{
    grid-column:1/3;
    grid-row:3/6;
}

.img2{
   grid-column:3/5;
   grid-row:2/6;
}

.img3{
   grid-column:5/6;
   grid-row:1/7;
}

.img4{
   grid-column:2/4;
   grid-row:6/10;
}

.img5{
   grid-column:4/5;
   grid-row:6/12;
}

.img6{
   grid-column:5/7;
   grid-row:7/11;
}

/*PAGE About*/

main section{

    height:90vh;

}

main section article{
    display:flex;
    height:90vh;


}

main section article img{

    width:35%;
    height:100%;
    float:right;
    padding-left:4rem;

}

main section article div{

    width:50%;

}

main section article div blockquote{

    font-family: 'Alex Brush', cursive;
    color:#9C4848;
    width:100%;
    margin-top:20%;
    margin-left:0;
    font-size:30px;
    text-align:center;

}

main section article div p{

 margin-top:2rem;
 font-size:18px;
 padding-left:2em;

}

main section article div span{

    display:flex;
    flex-direction:row-reverse;
    margin-top:32%;
    margin-left:3rem;
}



/* FOOTER */
footer{

   margin-top:8rem;
   background-color:#8EB4C8;
   height:25vh;
   width:100%;
   color:white;



}


footer section{

    /*padding-top:4rem;
    padding-bottom:2rem;*/
    height: 100%;
    display:flex;



}

footer section p{
    margin-left:8rem;
    height:15px;
}

 footer section article:nth-child(1){

    height:20vh;
    width:60%;
    padding-top:2%;
    display:flex;
    flex-direction:column;
}
footer section article:nth-child(1) a{

    text-decoration: none;
    color:white;
    margin-left:3em;
    height:20px;
    width:80%;


}

footer section article:nth-child(2){

    height:20vh;
    width:38%;
    display:flex;
    margin-top:1em;
    padding-left:8rem;


}



footer section .fab{

   padding-top:3rem;
   margin-right:1.5em;
   height:20px;
   width:20px;
   transform: scale(1.7);
   color:white;
  margin:auto 2em;


}


/* PAGE CONTACT */
.contact-sct {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 8em auto;
    color: #F8E2CE;
}

.contact-sct h2 {
    color: #F8E2CE;
}

.contact-sct img {
    max-width: 200px;
    object-fit: contain;
}

.contact-img-1 img {
    object-position: top;

}

.contact-img-2 img {
    object-position: bottom;
}

.mailform {
    width: 100%;
    display: flex;
}

.mailform form {
    background-color: #8eb4c8;
    width: 80%;
    margin: auto;
    padding: 0.5em 2em 2em 2em;
}

.contact-inputs {
    text-align: center;
}

.mailform form input, textarea, #sbmt-btn {
    width: 80%;
    resize: none;
    margin: 5px;
    padding: 5px;
    border: none;
    font-family: 'Abhaya Libre', serif;
    background-color: #f4fcff;
}

textarea {
  font-size: 1.4rem;
}

#sbmt-btn {
    text-align: center;
}

#sbmt-btn:hover {
    background-color: #F8E2CE;
}


/****************************
****    MEDIA QUERIES   *****
****************************/

/* tablette */
@media screen and (min-width:480px) and (max-width:960px){

 /*Navbar*/

.topnav ul{

    width:100%;
    display:flex;
    justify-content: center;

}

    .img3{
   grid-column:5/7;
   grid-row:1/7;
}

.img4{
   grid-column:1/3;
   grid-row:6/9;
}

.img5{
   grid-column:3/5;
   grid-row:6/11;
}

.img6{
   grid-column:5/7;
   grid-row:7/10;
}

footer{

   margin-top:8rem;
   background-color:#8EB4C8;
   height:25vh;
   width:100%;
   color:white;



}


footer section{

    /*padding-top:4rem;
    padding-bottom:2rem;*/
    height: 100%;
    display:flex;

}

footer section p{

    height:15px;
    margin-top:4rem;
}

footer section article:nth-child(1){

    height:20vh;
    width:60%;
    padding-top:2%;
    display:flex;
    flex-direction:column;

}
footer section article:nth-child(1) a{

    text-decoration: none;
    color:white;
    margin-left:3em;
    height:20px;
    width:80%;


}

footer section article:nth-child(2){

    height:20vh;
    width:40%;
    display:flex;
    padding-left:8rem;


}

footer section article:nth-child(1) a:nth-child(3){
    margin-top:3rem;

}


footer section .fab{

   /*padding-top:3rem;*/
   margin-right:4em;
   height:20px;
   width:20px;
   transform: scale(1.7);
   color:white;

   margin: auto 1em ;

}

/*PAGE About*/
main section article img{

    width:45%;
    height:100%;
    float:right;
    padding-left:4rem;

}


}

/* mobile */
@media screen and (max-width:480px){

/*Navbar*/
 .topnav ul{

    width:100%;
    display:flex;
    justify-content: center;
    padding-right:2em;
}
    /* MAIN Grid */
.img1{
    grid-column:1/4;
    grid-row:3/6;
}

.img2{
   grid-column:4/7;
   grid-row:2/6;
}


.img3{
   grid-column:1/4;
   grid-row:6/9;
}

.img4{
   grid-column:4/7;
   grid-row:6/9;
}

.img5{
   grid-column:1/4;
   grid-row:9/11;
}

.img6{
   grid-column:4/7;
   grid-row:9/12;
}

/* FOOTER */

footer{

   margin-top:8rem;
   background-color:#8EB4C8;
   height:25vh;
   width:100%;
   color:white;

}


footer section{

    /*padding-top:4rem;
    padding-bottom:2rem;*/
    height: 100%;
    display:flex;
}

footer section p{
    margin-top: 4rem;
    margin-left:5rem;
    height:15px;
}

footer section article:nth-child(1){

    height:20vh;
    width:60%;
    padding-top:2%;
    display:flex;
    flex-direction:column;
}
footer section article:nth-child(1) a{

    text-decoration: none;
    color:white;
    margin-left:3em;
    height:20px;
    width:80%;

}

footer section article:nth-child(1) a:nth-child(3){
    margin-top:6rem;

}

footer section article:nth-child(2){

    height:20vh;
    width:38%;
    display:flex;
    flex-direction:column;
    margin-top:1em;
    padding-left:8rem;

}


footer section .fab{

   padding-top:2rem;
   margin-right:1em;
   height:25px;
   width:20px;
   transform: scale(1.7);
   color:white;
   margin: auto 2em ;

}

/*PAGE About*/
main section article img{

    width:50%;
    height:100%;
    float:right;
    padding-left:2rem;

}

main section article div blockquote{

    font-family: 'Alex Brush', cursive;
    color:#9C4848;
    width:100%;
    margin-top:20%;
    padding-left:1em;
    font-size:30px;
    text-align:center;

}

/*PAGE contact*/
.contact-img-1 img {
    object-position: top;
    width:50%;
    height:50%;
}

.contact-img-2 img {
    object-position: bottom;
    width:50%;
    margin-left:3em;
}

.mailform {
    width: 100%;
    display: flex;
    height:70%;

}

form h2{

    text-align:center;
}

.mailform form {
    background-color: #8eb4c8;
    width: 100%;
    margin: auto;
    padding: 0.5em 2em 2em 2em;
}

.contact-inputs {
    text-align: center;
}

.mailform form input, textarea, #sbmt-btn {
    width: 90%;
    resize: none;
    margin: 5px;
    padding: 5px;
    border: none;
    text-align:center;
    font-family: 'Abhaya Libre', serif;
    background-color: #f4fcff;
}

textarea {
  font-size: 1.4rem;
  height:80%;
}

#sbmt-btn {
    text-align: center;
}

#sbmt-btn:hover {
    background-color: #F8E2CE;
}


}


/***********************
****    GENERAL    *****
***********************/

/*****************************
****    CORPS DE PAGE    *****
*****************************/

/* HEADER */
