/***********************
****    GENERAL    *****
***********************/



/*****************************
****    CORPS DE PAGE    *****
*****************************/

/* HEADER */


/* MAIN */
.comm-image{
    display:flex;
    justify-content:center;
}

.comments, .image{
    margin:0;
    padding:0;
    width:45%;
}

.image img{
    max-width:40%;
    height:auto;
}


/* FOOTER */



/****************************
****    MEDIA QUERIES   *****
****************************/

/* tablette */
@media screen and (min-width:480px) and (max-width:960px){
    /* css */
}

/* mobile */
@media screen and (max-width:480px){
    
}